<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Show a book</title>
</head>
<body>
  <a href="/books">Home</a>
  <a href="/logout">Logout</a>
  <h1>{{book.title}}</h1>
  <h2>Author: {{book.author}}</h2>

  <h1>Reviews:</h1>
  {% for review in reviews %}
  <hr>
    <p>Rating: {{ review.rating}}</p>
    <p><a href="/users/{{review.user_id}}">{{ review.name }} </a> says: {{ review.content }}</p>
    <p>Posted on {{review.created_at}}</p>
  {% endfor %}

  <form action="/reviews" method="post">
    <fieldset>
      <legend><h4>Add a Review:</h4></legend>
      <input type="hidden" name="book_id" value="{{book.id}}">
      <textarea name="content" id="" cols="30" rows="5"></textarea>
      Rating: <select name="rating" id="">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
      <input type="submit" value="Submit Review">
    </fieldset>
  </form>

</body>
</html>
